/netbeans/ProyectoJava/nbproject/private/
/netbeans/ProyectoJava/build/
/netbeans/ProyectoJava/dist/
/netbeans/MensajeAutomatico/nbproject/private/
/netbeans/MensajeAutomatico/build/
/netbeans/MensajeAutomatico/dist/
/netbeans/JavaApplication6/nbproject/private/
/netbeans/JavaApplication6/build/
/netbeans/TestServerFalso/nbproject/private/
/netbeans/TestServerFalso/build/
/netbeans/TestServerFalso/dist/
/netbeans/Generador/nbproject/private/
/netbeans/Generador/build/
/netbeans/DemoWizard/nbproject/private/
/netbeans/DemoWizard/build/
/netbeans/LayoutDemo/nbproject/private/