/netbeans/ProyectoJava/nbproject/private/
/netbeans/ProyectoJava/build/
/netbeans/ProyectoJava/dist/
/netbeans/MensajeAutomatico/nbproject/private/
/netbeans/MensajeAutomatico/build/
/netbeans/MensajeAutomatico/dist/
/netbeans/JavaApplication6/nbproject/private/