/*tablero*/
.tablero{
	z-index: -1;
	max-width: 100%;
	max-height: 100%;

}
.fila{
	background: grey;

}
.celda{
	display: inline-block;
	height: 60px;
	width: 60px;
}

.color1{
	background: blue;
}
.color2{
	background: pink;
}

/*mundo */
.demo-frame {
    width: 100%;
    height: 350px;
}
iframe {
    border: 1px solid #bfbfbf;
    padding: 1px;
}

/* Elementos Modelo*/
.draggable{
	position:absolute;
	/*
  top:0px;
	left:0px;
	*/
}

#imagen_fondo{/* <<<check*/
	z-index: -1;
	max-width: 100%;
	max-height: 100%;
}

.editing-focus img{/* <<<check*/
	outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	line-height: 1;
	color: #555;
	background-color: rgba(255, 255, 255, 0.5);
	background-image: none;
	border: 1px solid #66afe9;
	border-radius: 4px;
}

.contenedor_modelo{/* <<<check*/
  overflow: auto;
	height: auto;
	width: 100%;
	position: relative;

	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 9px;
}

/* Menu Modelo*/
#marco_elementos{/* <<<check*/
	  margin-bottom: 5px;
}

#tabs-1{/* <<<check*/
	padding: 8px 10px 2px;
}

#tabs-2{/* <<<check*/
	padding: 8px 10px 2px;
}

.nav-pills > select {
    float: left;
}
.nav > select {
    position: relative;
    display: block;
}
.btn_addedit_elem{
	  padding: 1px 12px;
}

.lista_atributos{
	  margin-bottom: 0;
}

.atributo{
  padding: 3px 4px;
  height: 26px;
}

/*label Sentencia*/

#lista_sentencias li .label-mensaje {
	display: none;
	position: absolute;
	z-index: 3;
	margin-bottom: 0px;
	border-radius: 4px;
	background-color: rgba(225, 225, 220, 0.85);
	bottom: -3px;
	right: -3px;
	border: 1px solid rgb(170, 170, 170);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(175, 175, 175, 0.6);
}
/* se ve cuando se papa sobre el div, pero se ve un punto si no tiene texto*/
#lista_sentencias li div:hover + .label-mensaje {
	display: block;
}

/*
.label-mensaje{
	position: absolute;
	z-index: 3;
	margin-bottom: 0px;
	border-radius: 4px;
	background-color: rgba(225, 225, 220, 0.85);
	bottom: -3px;
	right: -3px;
	border: 1px solid rgb(170, 170, 170);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(175, 175, 175, 0.6);
}*/


/*Icons*/
 .my-btn-resultado{
 	padding-right: 7px;
   padding-left: 7px;
  padding-top: 4px;
   padding-bottom: 4px;
 	height: 34px;
 }

 .my-icon-resultado {
 	display: inline-block;
 	width: 24px;
 	height: 24px;
 	background-repeat: no-repeat;
 }

 .my-icon-true{
 	background-image: url(../images/my-icons/icon-true.png);
 }

 .my-icon-false{
 	background-image: url(../images/my-icons/icon-false.png);
 }

.my-icon-none{
	background-image: url(../images/my-icons/icon-none.png);
}

.my-icon-alert{
	background-image: url(../images/my-icons/icon-alert.png);
}

.my-icon-editing{
	background-image: url(../images/my-icons/icon-editing.png);
}
/*Sentencias */
#btn-group-char-2{
	margin-top: 5px;
}

#lista_sentencias{
	padding-left: 0px;
	list-style-type: none;
}

.item_sentencia{
	margin-bottom: 2px;
}

.item_sentencia .input-group{
	margin-right: 20px;
}

.item_sentencia .btn-destroy-trash{
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
}

#lista_sentencias li .btn-destroy-trash {
	float: right;
  width: 34px;
  height: 34px;

}

/*Btn delete element*/
.elementoInsertado button{/* <<<check*/
	margin: 0px;
	padding: 0px;
	border: 0px none;
	background: transparent none repeat scroll 0% 0%;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
}

.elementoInsertado .destroy {/* <<<check*/
	display: none;
	position: absolute;
	width: 30px;
	height: 30px;
	font-size: 30px;
	color: #CC9A9A;
	top: 0px;
	transition: color 0.2s ease-out 0s;
	transform: translate(-50%, -50%);
}

#panel_mundo1 div:hover .destroy {/* <<<check*/
    display: block;
}

#panel_mundo1 div .nombre-edit {/* <<<check*/
    display: none;
}

#panel_mundo1 div.focus-name .nombre-edit {/* <<<check*/
    display: block;
		position
}

.draggable label.nombre-elemento{/* <<<check*/
	margin: 0;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	left: 50%;
	transform: translate(-50%, -20%);
}

.ui-menu {
	width: 150px;
}

#contextMenu {
  position: absolute;
  display:none;
}

#myMascara {/* <<<check*/
  position: absolute;
  display:none;
}
