/*tablero*/
.tablero{
	z-index: -1;
	max-width: 100%;
	max-height: 100%;

}
.fila{
	background: grey;

}
.celda{
	display: inline-block;
	height: 60px;
	width: 60px;
}

.color1{
	background: blue;
}
.color2{
	background: pink;
}

/*mundo */
.demo-frame {
    width: 100%;
    height: 350px;
}
iframe {
    border: 1px solid #bfbfbf;
    padding: 1px;
}

/* Elementos Modelo*/
.draggable{
	position:absolute;
	/*
  top:0px;
	left:0px;
	*/
}

#imagen_fondo{
	z-index: -1;
	max-width: 100%;
	max-height: 100%;
}

.editing-focus{
	outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	line-height: 1;
	color: #555;
	background-color: rgba(255, 255, 255, 0.5);
	background-image: none;
	border: 1px solid #66afe9;
	border-radius: 4px;
	/*border-style: solid;
  border-color: green;*/
}

.contenedor_modelo{
  overflow: auto;
	height: auto;
	width: 100%;
	position: relative;

	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 9px;
}

/* Menu Modelo*/
#marco_elementos{
	  margin-bottom: 5px;
}

#tabs-1{
	padding: 8px 10px 2px;
}

#tabs-2{
	padding: 8px 10px 2px;
}

.nav-pills > select {
    float: left;
}
.nav > select {
    position: relative;
    display: block;
}
.btn_addedit_elem{
	  padding: 1px 12px;
}

.lista_atributos{
	  margin-bottom: 0;
}

.atributo{
  padding: 3px 4px;
  height: 26px;
}

/*Sentencias */
#btn-group-char-2{
	margin-top: 5px;
}

#lista_sentencias{
	padding-left: 0px;
	list-style-type: none;
}

.item_sentencia{
	margin-bottom: 2px;
}

.item_sentencia .input-group{
	margin-right: 20px;
}

.item_sentencia .btn-destroy-trash{
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
}

#lista_sentencias li .btn-destroy-trash {
	float: right;
  width: 34px;
  height: 34px;

}

/*Btn delete element*/
.elementoInsertado button{
	margin: 0px;
	padding: 0px;
	border: 0px none;
	background: transparent none repeat scroll 0% 0%;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
}

.elementoInsertado .destroy {
	position: absolute;
	bottom: 5px;
	left: 25px;
	bottom: 15px;
	width: 30px;
	height: 30px;
	margin: auto 0px 11px;
	font-size: 30px;
	color: #CC9A9A;
	transition: color 0.2s ease-out 0s;
}

.ui-menu {
	width: 150px;
}

#contextMenu {
  position: absolute;
  display:none;
}

#myMascara {
  position: absolute;
  display:none;
}
